<%= form_with model: @category do |form| %>
    <% @category.errors.full_messages.each do |error| %>
        <div>
            <%= error %>
        </div>
    <% end %>
    <br>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </div><br>
    <%= form.submit %>
<% end %>
