<%= form_with model: @product do |form| %>
    <% @product.errors.full_messages.each do |error| %>
        <div>
            <%= error %>
        </div>
    <% end %>
    <br>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </div><br>
    <div>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </div><br>
    <div>
        <%= form.label :price %><br>
        <%= form.number_field :price %>
    </div><br>
    <div>
        <%= form.label :photo %><br>
        <%= form.file_field :photo %>
    </div><br>
    <%= form.submit %>
<% end %>